.pet-grid {
    width: 100%;
    display: grid;
    gap: 20px;
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
  }
  .pet-grid {
    grid-template-columns: 1fr;
  }

  @media (min-width: 600px) {
    .pet-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1024px) {
    .pet-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  