.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: radial-gradient(circle, rgba(0, 0, 0, .05) 1px, transparent 1px);
    background-size: 10px 10px;
  }
  
  .main {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
  }