:root {
    --primary-color: #c41319;
    --text-color: #333;
    --text-color-light: #666;
    --text-color-white: #f2f2f2;
    --bg-color: #fff;
    --hover-color: #dd8284;
    --border: #e5e7eb
  }